/*.yu-admin-left{*/
/*    -webkit-transition: all .5s*/
/*}*/
.yu-admin-slide {
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 1;
    overflow: hidden;
    padding: 2rem 2rem 2rem 2rem;
    width: 250px;
    height: 100%;
    background-image: url(../img/slidebg.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-align: center;
    -webkit-transition: all .5s
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
}
.yu-admin-slide h2 {
    color: #ffffff;
}

.yu-admin-menu ul {
    margin-top: 1rem;
    display: inline-block;
    z-index: 1;
    list-style: none;
}

.yu-admin-menu ul li {
    height: 2.625rem;
    text-align: left;
    line-height: 2.625rem;
    transition: all .3s
}

.yu-admin-menu ul li a {
    display: block;
    padding: 0 11px;
    height: 100%;
    color: #fff;
    font-weight: normal;
    font-size: 1rem
}

.yu-admin-menu ul li a.active {
    color: #f0ad4e;
    font-weight: normal;
}

.yu-admin-slide-shadow {
    position: absolute;
    top: 0;
    left: 2px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .65;
    -moz-opacity: .65;
    -khtml-opacity: .65;
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px)
}

.yu-admin-right.mhide,.yu-admin-slide.mhide{
    transform: translate3D(-250px,0,0);
}

/** right **/
.yu-admin-right{
    position: relative;
    top: 0;
    left: 250px;
    z-index: 1;
    height: 100%;
    min-width: calc(100% - 250px);
    -webkit-transition: all .5s
}
.yu-admin-title{
    background-color: #ffffff;
    box-shadow: rgba(0,0,0,.2) 0 0 5px 0;
    min-height: 2.625rem;
}
.yu-admin-menu-btn {
    float: left;
    margin: 0 20px;
    cursor: pointer;
    line-height: 2.625rem;
}
.yu-breadcrumb{
    float: left;
    margin: 0 5px;
    line-height: 2.625rem;
    color: #99a2aa;
}
.yu-admin-content{
    padding: 5px;
}
.yu-admin-card{
    border-radius: 4px;
    background-color: #ffffff;
    width: 350px;
    box-shadow: rgba(0,0,0,.2) 0 0 5px 0;
    margin-bottom: 0.7rem;
    animation: fade-animation 1s linear;
}
/** right **/
