/* 正常屏幕 > 900px  */

/* header */
header {
    margin: 0 auto;
    min-height: 2.625rem;
    background: #fff;
    box-shadow: 0 -2px 3px rgba(26,26,26,.1) inset;
}

.yu-header-pc {
    margin: 0 auto;
    width: 1080px;
    max-width: 100%;
    color: #000;
}

.yu-header-m {
    display: none;
}

.yu-header-pc-title {
    float: left;
    margin: 0 1rem;
    line-height: 2.625rem;
}

.yu-header-pc-title a {
    color: #000;
    font-size: 1.375rem;
}

.yu-header-pc-menu {
    display: inline-block;
}

.yu-header-pc-menu ul {
    list-style: none;
}

.yu-header-pc-menu ul li {
    float: left;
    text-align: center;
    line-height: 2.625rem;
}

.yu-header-pc-menu ul li a {
    padding: 0 11px;
    color: #222;
    cursor: pointer;
}

.yu-header-pc-search {
    position: relative;
    float: right;
    padding: 0 1rem;
    font-size: 1.3rem;
    line-height: 2.625rem;
    cursor: pointer;
}

.yu-modal-search {
    top: 50%;
    left: 50%;
    width: 300px;
    z-index: 10000;
    position: fixed;
    margin-top: -50px;
    margin-left: -150px;
    padding: 20px 0 1pc;
    border-radius: 4px;
    border-bottom: 1px solid #e7e7e7;
    background: #fff;
    cursor: default;
    text-align: center;
    animation: fade-animation .5s ease;
    box-shadow: rgba(0,0,0,.2) 0 0 5px 0;
}

.yu-modal-search.hide {
    animation: hide-animation 1.5s ease;
}

.yu-modal-search-head {
    padding: 0 18px;
    text-align: left;
    font-weight: 700;
}

.yu-modal-search-close {
    float: right;
}

.keyword {
    height: 30px;
    width: 264px;
    display: block;
    font-size: 14px;
    margin: 5px 18px;
    line-height: 30px;
    border-bottom: 1px solid #e5e9ef;
}
/* header. */

/* main */
.yu-main{
    margin: 0 auto;
    width: 1080px;
    max-width: 100%;
    padding: 0.2rem 0.7rem 0;
    display: flex;
    justify-content: center;
    -webkit-transition: all .5s;
}

.yu-stickie{
    position: relative;
    top: 20px;
    right: 6px;
    z-index: 2;
    width: 50px;
    height: 30px;
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 10px;
    text-align: center;
    background-color: #eb7350;
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
/* card */
.yu-card{
    border-radius: 4px;
    background-color: #ffffff;
    width: 100%;
    box-shadow: rgba(0,0,0,.2) 0 0 5px 0;
    margin-bottom: 0.7rem;
    animation: fade-animation 1s linear;
}

.yu-card-bg{
    background-image: url("../img/cardbg.jpg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    height: 6rem;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}

.yu-card-content{
    padding: 0.7rem 1rem;
}

.yu-card-title{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.1rem;
}
.yu-card-title:hover{
    color: #1d9ce5;
}
.yu-card-label{
    padding: 0.1rem;
    display: inline-block;
}
.yu-label{
    color: #eb7350;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 8px;
}
.yu-card-section{
    line-height: 1.5;
    max-height: 60px;
    padding-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.yu-card-footer{
    border-top: 1px solid #e5e5e5;
    height: 50px;
}
.yu-card-basic{
    min-width: calc(100% / 3 - 1px);
    border-left: 1px solid #e5e5e5;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 3;
    cursor: pointer;
}
.yu-card-basic:hover{
    color: #eb7350;
}

/* card. */

.yu-load-more{
    text-align: center;
    border-radius: 4px;
    background-color: #ffffff;
    width: 100%;
    box-shadow: rgba(0,0,0,.2) 0 0 5px 0;
    height: 2.5rem;
    line-height: 3;
    cursor: pointer;
}

/* left */
.yu-main-left{
    width: 70%;
    float: left;
    padding: 0.3rem;
}
/* left. */

/* right */
.yu-main-right{
    width: 30%;
    float: left;
    padding: 0.3rem;
}
.yu-profile{
    margin-top: 50px;
}
.yu-bio{
    text-align: center;
}
.yu-contact{
    margin-top: 1rem;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    padding-top: 10px;
}
.yu-contact a{
    margin: 0 1rem;
}
.yu-piece-title{
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.1rem;
    border-bottom: 1px solid #e5e5e5;
}
.yu-piece-content{
    margin-top: 0.5rem;
    display: inline-block;
    max-width: 100%;
}
.yu-piece-label{
    padding: 2px 1px;
    display: block;
    float: left;
    height: 26px;
    margin-right: 4px;
    border: 1px solid #b5b5b5;
    margin-bottom: 2px;
    cursor: pointer;
}
.yu-piece-label:hover{
    color: #eb7350;
    border: 1px solid #eb7350;
}
.yu-piece-article{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
}
/* right. */

/* main. */

/* footer */
footer{
    margin: 0 auto;
    min-height: 2.625rem;
    background: #fff;
    text-align: center;
    box-shadow: 0 -2px 3px rgba(26,26,26,.1) inset;
    line-height: 3;
    margin-top: 1rem;
    -webkit-transition: all .5s;
}
/* footer. */

/** 正常屏幕. > 900px  **/

/** 小屏幕 <= 900px  **/

/* header */
@media only screen and (max-width:900px) {

    .yu-header-pc {
        display: none
    }

    .yu-header-m {
        display: block;
    }

    .yu-header-m-main {
        margin: 0 auto;
        text-align: center;
        -webkit-transition: all .5s;
    }

    .yu-menu-btn {
        position: absolute;
        left: 0;
        z-index: 10;
        margin: 0 20px;
        cursor: pointer;
        line-height: 2.625rem;
    }
    .yu-header-m-title{
        line-height: 2.625rem
    }
    .yu-header-m-title a{
        color: #000000;
    }
    .yu-header-m-search{
        position: absolute;
        top: 0;
        right: 0;
        float: right;
        margin-right: 1rem;
        font-size: 1.3rem;
        line-height: 2.625rem;
        cursor: pointer;
    }
    .yu-header-m-slide{
        position: fixed;
        top: 0;
        left: -250px;
        z-index: 997;
        overflow: hidden;
        padding: 2rem 2rem 2rem 2rem;
        width: 250px;
        height: 100%;
        background-image: url(../img/slidebg.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        text-align: center;
        -webkit-transition: all .5s
    }
    .yu-header-m-main.show,.yu-header-m-slide.show,.yu-main.show,footer.show{
        box-shadow: 1px 0 1px #fff inset;
        -webkit-transition: all .5s;
        transform: translate3D(250px,0,0)
    }

    .yu-header-m-slide h2 {
        color: #fff
    }

    .yu-header-m-menu {
    }

    .yu-header-m-menu ul{
        margin-top: 1rem;
        display: inline-block;
        z-index: 1;
        list-style: none;
    }

    .yu-header-m-menu ul li {
        height: 2.625rem;
        text-align: left;
        line-height: 2.625rem;
        transition: all .3s
    }

    .yu-header-m-menu ul li a {
        display: block;
        padding: 0 11px;
        height: 100%;
        color: #fff;
        font-weight: normal;
        font-size: 1rem
    }

    .yu-header-m-menu ul li a.active{
        color: #f0ad4e;
        font-weight: normal;
    }

    .yu-header-m-slide-shadow {
        position: absolute;
        top: 0;
        left: 2px;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .65;
        -moz-opacity: .65;
        -khtml-opacity: .65;
        -moz-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px)
    }

    /* main */
    .yu-main-right{
        display: none;
    }
    .yu-main-left{
        width: 100%;
        float: left;
        padding: 0.3rem;
    }
    /* main. */
}
/* header. */
/** 小屏幕. <= 900px  **/

/** 其他 **/
.yu-shadow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
}
.yu-avatar{
    position: relative;
    top: 50px;
    left: 32%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
}
.yu-gotop{
    position: fixed;
    bottom: 70px;
    right: 70px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    color: rgba(111,111,111,.6);
    border-radius: 5px;
}
.yu-gotop:hover{
    color: #000000;
    border: 1px solid #000000;
}
/** 其他. **/

/** 动画 **/
@keyframes fade-animation {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes hide-animation {
    to {
        opacity: 1
    }

    50% {
        opacity: .5
    }

    0% {
        opacity: 0
    }
}
/** 动画. **/