* {
  margin: 0;
  padding: 0;
  border: 0;
  background: 0 0;
  word-wrap: break-word;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  overflow-x: hidden;
}
body {
  font-size: 0.8rem;
  background: #f0f0f0;
  font-family: 微软雅黑,microsoft yahei;
}
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
/*定义滚动条轨道*/
::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
}
a {
  outline: 0;
  text-decoration: none;
}
button,
input,
textarea {
  outline: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.pointer {
  cursor: pointer;
}
.disabled {
  color: #a6a6a6;
}
.selected {
  color: #1a6dca;
}
/*** ufo ***/
.ufo {
  position: fixed;
  right: 50px;
  bottom: 100px;
  padding: 2px;
  width: 50px;
  height: 100px;
  border: solid 1px #cccccc;
  text-align: center;
}
.ufo span {
  display: block;
  width: 40px;
  height: 40px;
  padding: 20px;
}
/*** ufo.end ***/
/*** header ***/
header {
  height: 3rem;
  background: #ffffff;
  box-shadow: 0 1px 0 #cccccc;
  animation: header-td-animate 0.5s ease;
}
header nav {
  height: 100%;
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
  line-height: 2.1;
  padding: 7px 20px;
}
header nav .nav-avatar {
  cursor: pointer;
}
header nav .nav-avatar img {
  height: 2rem;
  border-radius: 50%;
  float: left;
}
header nav h1 {
  float: left;
  line-height: 1.4;
  margin-left: 12px;
  font-size: 1.5rem;
}
header nav menu ul {
  float: left;
  list-style: none;
  margin-left: 100px;
}
header nav menu ul li {
  cursor: pointer;
  float: left;
  display: block;
  width: 80px;
  font-size: 0.9rem;
}
header nav menu ul li.active {
  font-weight: bold;
}
header nav menu ul li:hover {
  font-weight: bold;
}
header nav menu ul li i {
  margin-right: 5px;
}
header nav .search {
  float: right;
}
header nav .search input {
  border-bottom: solid 1px #cccccc;
  width: 100px;
  text-align: center;
  color: #cccccc;
}
@keyframes header-td-animate {
  0% {
    transform: scaleY(0);
    opacity: 0;
    overflow: hidden;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
    overflow: hidden;
  }
}
@media only screen and (max-width: 900px) {
  /*screen.width<=900px*/
  header {
    position: fixed;
    height: 100vh;
    width: 250px;
    background: #ffffff;
    box-shadow: 1px 0 0 #cccccc;
    animation: header-lr-animate 0.5s ease;
    background-image: url("../img/cardbg.jpg");
    background-size: cover;
    text-align: center;
  }
  header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    background: #000000;
    opacity: 0.6;
    height: 100%;
    z-index: -1;
  }
  header nav {
    width: 100%;
    margin: 80px 0px 0px;
    line-height: 2.5;
  }
  header nav .nav-avatar img {
    height: 6rem;
    border-radius: 50%;
    border: solid 3px #ffffff;
    float: none;
  }
  header nav h1 {
    font-size: 1.5rem;
    color: #ffffff;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    float: none;
    margin-left: 0;
  }
  header nav menu ul {
    list-style: none;
    float: none;
    margin-left: 0;
  }
  header nav menu ul li {
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 0.9rem;
    float: none;
    color: #ffffff;
  }
  header nav .search {
    float: none;
  }
  header nav .search input {
    border-bottom: solid 1px #ffffff;
    width: 100px;
    color: #ffffff;
  }
  header nav .search button {
    display: block;
    width: 100%;
    color: #ffffff;
    margin-top: 5px;
  }
}
@keyframes header-lr-animate {
  0% {
    width: 0px;
    opacity: 0;
    overflow: hidden;
  }
  to {
    width: 250px;
    opacity: 1;
    overflow: hidden;
  }
}
/*** header.end ***/
/*** main ***/
/*** main.end ***/
/*** footer ***/
/*** footer.end ***/
