*,body,html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background: 0 0;
    word-wrap: break-word
}

body,html {
    overflow-x: hidden;
    width: 100%;
    min-height: 100%
}

body {
    background: #f0f0f0;
    font-size: .8rem;
    font-family: 微软雅黑,microsoft yahei;
    -webkit-font-smoothing: antialiased
}

a {
    outline: 0;
    text-decoration: none
}

button,input,textarea {
    outline: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent
}

.show {
    display: block
}

.hide {
    display: none
}

.pointer {
    cursor: pointer
}

header {
    margin: 0 auto;
    min-height: 2.625rem;
    background: #fff;
    box-shadow: 0 -2px 3px rgba(26,26,26,.1) inset
}

.yu-header {
    margin: 0 auto;
    width: 810pt;
    max-width: 100%;
    color: #000
}

.yu-header-m {
    display: none
}

.yu-header-main {
    position: relative;
    margin: 0 auto;
    width: 810pt;
    max-width: 100%;
    max-height: 100%;
    zoom: 1
}

.yu-title {
    position: relative;
    float: left;
    margin: 0 20px;
    height: 100%;
    line-height: 2.625rem
}

.yu-title a {
    color: #000;
    font-size: 1.375rem
}

.yu-menu-main {
    display: inline-block
}

.yu-menu-main ul {
    z-index: 1;
    list-style: none
}

.yu-menu-main ul li {
    position: relative;
    float: left;
    height: 2.625rem;
    background-color: hsla(0,0%,100%,0);
    text-align: center;
    line-height: 2.625rem;
    transition: all .3s
}

.yu-menu-main ul li a {
    display: block;
    padding: 0 11px;
    height: 100%;
    color: #222;
    cursor: pointer
}

.yu-search {
    position: relative;
    float: right;
    margin-right: 10px;
    font-size: 1.3rem;
    line-height: 2.625rem;
    cursor: pointer
}

.yu-shadow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3
}

.yu-pop-search {
    top: 50%;
    left: 50%;
    width: 300px;
    z-index: 10000;
    position: fixed;
    margin-top: -50px;
    margin-left: -150px;
    padding: 20px 0 1pc;
    border-radius: 4px;
    border-bottom: 1px solid #e7e7e7;
    background: #fff;
    cursor: default;
    text-align: center;
    animation: fade-animation .5s ease;
    box-shadow: rgba(0,0,0,.2) 0 0 5px 0;
}

.yu-pop-search.hide {
    animation: hide-animation 1.5s ease
}

.yu-search-head {
    padding: 0 18px;
    text-align: left;
    font-weight: 700
}

.yu-search-head .pointer {
    float: right
}

.keyword {
    display: block;
    margin: 5px 18px;
    width: 264px;
    height: 30px;
    border-bottom: 1px solid #e5e9ef;
    font-size: 14px;
    line-height: 30px
}

@media only screen and (max-width:900px) {
    a,div,img {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    .yu-header {
        display: none
    }

    .yu-header-m {
        display: block;
        max-width: 100%
    }

    .yu-header-main {
        text-align: center;
        -webkit-transition: all .5s
    }

    .yu-menu-slide {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        float: left;
        margin: 0 20px;
        font-size: 1.2rem;
        cursor: pointer
    }

    .yu-menu-slide,.yu-title {
        height: 100%;
        line-height: 2.625rem
    }

    .yu-title {
        position: relative;
        float: none;
        margin: 0 auto
    }

    .yu-search {
        position: absolute;
        top: 0;
        right: 0;
        float: right;
        margin-right: 1rem;
        font-size: 1.3rem;
        line-height: 2.625rem;
        cursor: pointer
    }

    .yu-slide {
        position: fixed;
        top: 0;
        left: -250px;
        z-index: 997;
        display: block;
        overflow: hidden;
        padding: 5rem 2rem 2rem 1rem;
        width: 250px;
        height: 100%;
        background-image: url(../img/slidebg.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        text-align: center;
        -webkit-transition: all .5s
    }

    .yu-header-main.show,.yu-slide.show {
        box-shadow: 1px 0 1px #fff inset;
        -webkit-transition: all .5s;
        transform: translate3D(250px,0,0)
    }

    .yu-menu-main {
        margin-top: 2rem
    }

    .yu-menu-main ul li {
        position: relative;
        float: none;
        height: 2.625rem;
        background-color: hsla(0,0%,100%,0);
        text-align: left;
        line-height: 2.625rem;
        transition: all .3s
    }

    .yu-slide h2 {
        color: #fff
    }

    .yu-menu-main ul li a {
        color: #fff;
        font-weight: normal;
        font-size: 1rem
    }

    .yu-menu-main ul li a.active{
        color: #f0ad4e;
        font-weight: normal;
    }

    .yu-slide-shadow {
        position: absolute;
        top: 0;
        left: 2px;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .7;
        -moz-opacity: .7;
        -khtml-opacity: .7;
        -moz-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px)
    }

    .avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid #fff;
    }
}

@keyframes fade-animation {
    0% {
        opacity: 0
    }

    50% {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

@keyframes hide-animation {
    to {
        opacity: 1
    }

    50% {
        opacity: .5
    }

    0% {
        opacity: 0
    }
}
