html, body, * {
    margin: 0;
    padding: 0;
    border: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    background: transparent;
    -webkit-box-sizing: border-box;
}

html, body {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background: #f0f0f0;
    font-size:0.8rem;
    -webkit-font-smoothing: antialiased;
    font-family:"微软雅黑","microsoft yahei";
}

a{
    outline: 0;
    text-decoration: none;
}

button, input, textarea {
    -webkit-appearance: none;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.show{
    display: block;
}
.hide{
    display: none;
}
.pointer{
    cursor: pointer;
}

#header{
    min-height: 2.625rem;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0 -2px 3px rgba(26,26,26,.1) inset;
}

.yu-header{
    color: #000000;
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
}
.yu-header-m{
    display: none;
}
.yu-header-main{
    zoom: 1;
    width: 1080px;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.yu-title{
    line-height: 2.625rem;
    float: left;
    height: 100%;
    margin: 0 20px;
    position: relative;
}
.yu-title a{
    color: #000;
    font-size: 1.375rem;
}

.yu-menu-main{
    display: inline-block;
}
.yu-menu-main ul{
    list-style: none;
    z-index: 1;
}
.yu-menu-main ul li{
    float: left;
    text-align: center;
    line-height: 2.625rem;
    height: 2.625rem;
    background-color: hsla(0,0%,100%,0);
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
}

.yu-menu-main ul li a{
    color: #222;
    height: 100%;
    display: block;
    padding: 0 11px;
    cursor: pointer;
}

.yu-search{
    position: relative;
    float: right;
    margin-right: 10px;
    line-height: 2.625rem;
    cursor: pointer;
    font-size: 1.3rem;
}
.yu-shadow{
    z-index: 9999;
    background-color: #000;
    opacity: .3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.yu-pop-search{
    padding: 20px 0 16px;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
    background: #fff;
    cursor: default;
    z-index: 10000;
    position: fixed;
    width: 300px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -50px;
    -webkit-box-shadow: rgba(0,0,0,.2) 0 0 5px 0;
    box-shadow: rgba(0,0,0,.2) 0 0 5px 0;
    border-radius: 4px;
    animation:fade-animation 0.5s ease;
}

.yu-pop-search.hide{
    animation:hide-animation 1.5s ease;
}


.yu-search-head{
    text-align: left;
    padding: 0 18px;
    font-weight: bold;
}
.yu-search-head .pointer{
    float: right;
}
.keyword{
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    width: 264px;
    margin: 5px 18px;
    border-bottom: 1px solid #e5e9ef;
}


@media only screen and (max-width: 900px) {
    div, a, img {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .yu-header{
        display: none;
    }
    .yu-header-m{
        max-width: 100%;
        display: block;
    }
    .yu-header-main{
        text-align: center;
        -webkit-transition: all .3s;
    }
    .yu-menu-slide{
        line-height: 2.625rem;
        float: left;
        height: 100%;
        margin: 0 20px;
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 1.2rem;
        cursor: pointer;
        z-index: 10;
    }
    .yu-title{
        line-height: 2.625rem;
        height: 100%;
        margin: 0 auto;
        float: none;
        position: relative;
    }
    .yu-search{
        position: absolute;
        top: 0px;
        right: 0px;
        float: right;
        margin-right: 1rem;
        line-height: 2.625rem;
        cursor: pointer;
        font-size: 1.3rem;
    }
    .yu-slide{
        background-image: url(../img/slidebg.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;

        display: block;
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        z-index: 997;
        overflow: hidden;
        padding: 5rem 2rem 2rem 1rem;
        text-align: center;
        -webkit-transition: all .5s;
    }

    .yu-slide.show , .yu-header-main.show{
        -webkit-transform: translate3D(250px,0,0);
        transform: translate3D(250px,0,0);
        -webkit-transition: all .5s;
        box-shadow: 1px 0px 1px #ffffff inset;
    }
    .yu-menu-main{
        margin-top: 2rem;
    }

    .yu-menu-main ul li{
        float: none;
        text-align: left;
        line-height: 2.625rem;
        height: 2.625rem;
        background-color: hsla(0,0%,100%,0);
        -webkit-transition: all .3s;
        transition: all .3s;
        position: relative;
    }
    .yu-slide h1{
        color: #ffffff;
    }
    .yu-menu-main ul li a{
        color: #ffffff;
        font-size: 1rem;
        font-weight:600;
    }

    .yu-slide-shadow {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        filter: alpha(opacity=50);
        -moz-opacity: .5;
        -khtml-opacity: .5;
        opacity: .5;
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
        background-color: #000;
        top: 0;
        left: 2px;
    }
}

@keyframes fade-animation{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}
@keyframes hide-animation{
    100%{opacity: 1;}
    50%{opacity: 0.5;}
    0%{opacity: 0;}
}