/* 小屏幕 <= 900px  */
@media only screen and (max-width:900px) {

    .yu-header {
        display: none
    }

    .yu-header-m {
        display: block;
        max-width: 100%
    }

    .yu-header-m-main {
        position: relative;
        margin: 0 auto;
        width: 810pt;
        max-width: 100%;
        max-height: 100%;
        zoom: 1;
        text-align: center;
        -webkit-transition: all .5s;
    }

    .yu-menu-btn {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        float: left;
        margin: 0 20px;
        font-size: 1.2rem;
        cursor: pointer;
        height: 100%;
        line-height: 2.625rem;
    }
    .yu-header-m-title{
        position: relative;
        float: none;
        margin: 0 auto;
        height: 100%;
        line-height: 2.625rem
    }
    .yu-header-m-title a{
        color: #000000;
    }
    .yu-header-m-search{
        position: absolute;
        top: 0;
        right: 0;
        float: right;
        margin-right: 1rem;
        font-size: 1.3rem;
        line-height: 2.625rem;
        cursor: pointer;
    }
    .yu-header-m-slide{
        position: fixed;
        top: 0;
        left: -250px;
        z-index: 997;
        display: block;
        overflow: hidden;
        padding: 5rem 2rem 2rem 1rem;
        width: 250px;
        height: 100%;
        background-image: url(../img/slidebg.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        text-align: center;
        -webkit-transition: all .5s
    }
    .yu-header-m-main.show,.yu-header-m-slide.show{
        box-shadow: 1px 0 1px #fff inset;
        -webkit-transition: all .5s;
        transform: translate3D(250px,0,0)
    }

    .yu-header-m-slide h2 {
        color: #fff
    }

    .yu-header-m-menu {
        margin-top: 2rem;
        display: inline-block
    }

    .yu-header-m-menu ul{
        margin-top: 2rem;
        display: inline-block;
        z-index: 1;
        list-style: none;
    }

    .yu-header-m-menu ul li {
        position: relative;
        float: none;
        height: 2.625rem;
        background-color: hsla(0,0%,100%,0);
        text-align: left;
        line-height: 2.625rem;
        transition: all .3s
    }



    .yu-header-m-menu ul li a {
        display: block;
        padding: 0 11px;
        height: 100%;
        color: #fff;
        font-weight: normal;
        font-size: 1rem
    }

    .yu-header-m-menu ul li a.active{
        color: #f0ad4e;
        font-weight: normal;
    }

    .yu-header-m-slide-shadow {
        position: absolute;
        top: 0;
        left: 2px;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .7;
        -moz-opacity: .7;
        -khtml-opacity: .7;
        -moz-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px)
    }

    .avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid #fff;
    }
}

/* 小屏幕 <= 900px  */