<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Link</title>

    <link rel="stylesheet" href="../statics/css/bootstrap.min.css">
    <link rel="stylesheet" href="../statics/css/public.css">
    <link rel="stylesheet" href="../statics/css/simplemde.min.css">

    <script src="../statics/js/jquery-slim.min.js"></script>
    <script src="../statics/js/popper.min.js"></script>
    <script src="../statics/js/bootstrap.min.js"></script>
    <script src="../statics/js//simplemde.min.js"></script>

</head>
<body class="yu-font">
<!-- head -->
<header class="yu-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light yu-theme">
            <a class="navbar-brand" href="./index.html">首页</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- head -->

<!-- body -->
<div class="container yu-top">
    <div class="yu-body row">
        <div class="border-light col-xl-12 col-md-12 col-sm-12 col-12">
            <div class="text-dark">
                <h3>Dark card title</h3>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div id="md">
                    <textarea>

                    </textarea>
                </div>
            </div>
            <div class="border-light">Footer</div>
        </div>
    </div>
</div>
<script>
    var simplemde = new SimpleMDE();
//     simplemde.value(`
// # 博客
//
// - 第一
// - 第二
// > hahh
//     `)
</script>
<!-- body -->

<!-- footer -->
<footer class="yu-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2019 - Lhlyu</p>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->

</body>
</html>