<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title</title>

    <link rel="stylesheet" href="../statics/css/bootstrap.min.css">
    <link rel="stylesheet" href="../statics/css/public.css">

    <script src="../statics/js/jquery-slim.min.js"></script>
    <script src="../statics/js/popper.min.js"></script>
    <script src="../statics/js/bootstrap.min.js"></script>

</head>
<body class="yu-font">
<!-- head -->
<header class="yu-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light yu-theme">
            <a class="navbar-brand" href="#">首页</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="./article.html">Article</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- head -->

<!-- body -->
<div class="container yu-top">
    <div class="yu-body row">
        <!-- left -->
        <div class="yu-left-body col-xl-9 col-md-8 col-sm-12 col-12">
            <div class="card yu-bottom">
                <div class="card-body">
                    <h5 class="card-title">卡片标题</h5>
                    <h6 class="card-subtitle mb-2 text-muted">卡片小标题</h6>
                    <p class="card-text">卡片内容</p>
                    <a href="#" class="card-link ">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

            <div class="card yu-bottom">
                <div class="card-body">
                    <h5 class="card-title">卡片标题</h5>
                    <h6 class="card-subtitle mb-2 text-muted">卡片小标题</h6>
                    <p class="card-text">卡片内容</p>
                    <a href="#" class="card-link ">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

            <div class="card yu-bottom">
                <div class="card-body">
                    <h5 class="card-title">卡片标题</h5>
                    <h6 class="card-subtitle mb-2 text-muted">卡片小标题</h6>
                    <p class="card-text">卡片内容</p>
                    <a href="#" class="card-link ">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

            <nav aria-label="Page navigation yu-bottom">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">上一页</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">下一页</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- left -->

        <!-- right -->
        <div class="yu-right-body col-xl-3 col-md-4 col-sm-12 col-12">
            <!-- 个人资料 -->
            <div class="card text-center yu-bottom">
                <div class="card-body">
                    <div class="media">
                        <img class="align-self-center mr-3 yu-tx" src="../statics/img/tx.jpg" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0">Lhlyu</h5>
                            <p class="mb-0">起风了，唯有努力生存</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 个人资料 -->

            <!-- 最新文章 -->
            <div class="card yu-bottom">
                <div class="card-body">
                    <h3 class="card-title">最新</h3>
                    <p class="card-text">测试</p>
                    <p class="card-text">测试</p>
                    <p class="card-text">测试</p>
                    <p class="card-text">测试</p>
                </div>
            </div>
            <!-- 最新文章 -->

            <!-- 分类 -->
            <div class="card yu-bottom">
                <div class="card-body">
                    <h3 class="card-title">分类</h3>
                    <p class="card-text">测试</p>
                    <p class="card-text">测试</p>
                    <p class="card-text">测试</p>
                    <p class="card-text">测试</p>
                </div>
            </div>
            <!-- 分类 -->

            <!-- 标签 -->
            <div class="card yu-bottom">
                <div class="card-body">
                    <h3 class="card-title">标签</h3>
                    <a href="#" class="badge badge-light">Light</a>
                    <a href="#" class="badge badge-light">Light</a>
                    <a href="#" class="badge badge-light">Light</a>
                    <a href="#" class="badge badge-light">Light</a>
                    <a href="#" class="badge badge-light">Light</a>
                    <a href="#" class="badge badge-light">Light</a>
                    <a href="#" class="badge badge-light">Light</a>
                    <a href="#" class="badge badge-light">Light</a>
                    <a href="#" class="badge badge-light">Light</a>
                    <a href="#" class="badge badge-light">Light</a>
                    <a href="#" class="badge badge-light">Light</a>
                </div>
            </div>
            <!-- 标签 -->
        </div>
        <!-- right -->
    </div>
</div>
<!-- body -->

<!-- footer -->
<footer class="yu-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2019 - Lhlyu</p>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->

</body>
</html>